@model WebApplication4.Models.Customer
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-4 col-sm-offset-1">
        <div class="login-form">
            @using (Html.BeginForm("LoginForm", "Account", FormMethod.Post))
            {
                @Html.ValidationSummary(false, "" , "error")
                <!--login form-->
                <h2>Login to your account</h2>
                <form action="#">
                    @Html.TextBoxFor(model => model.username, new { @placeholder = "Name" })
                    @Html.PasswordFor(model => model.password ,new { @placeholder = "Password" })    
                    <span>

                    </span>
                    <button type="submit" class="btn btn-default">Login</button>
                </form>
                }
            </div>
        </div>
    <div class="col-sm-1">
        <h2 class="or">OR</h2>
    </div>
    <div class="col-sm-4">
        <div class="signup-form">
            <!--sign up form-->
            <h2>New User Signup!</h2>
            <form action="#">
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email Address">
                <input type="password" placeholder="Password">
                <button type="submit" class="btn btn-default">Signup</button>
            </form>
        </div><!--/sign up form-->
    </div>
</div>